<%= render PageWrappers::GuestComponent.new do %>
  <div class="flex-1 flex justify-center items-center">
    <h2><%= t('views.users.registrations.confirm.title') %></h2>
    <p><%= t('views.users.registrations.confirm.description') %></p>
  </div>
<% end %>
