<%= render PageWrappers::GuestComponent.new do %>
  <div class="flex-1 flex flex-col justify-center items-center">
    <div class="p-4 bg-white rounded border border-stone-300">
      <h2><%= t('views.users.registrations.confirm.title') %></h2>
      <p><%= t('views.users.registrations.confirm.description') %></p>
    </div>
  </div>
<% end %>
