<%= render PageWrappers::UsersComponent.new do %>
  <section class="user-form">
    <h2><%= t('views.users.registrations.confirm.title') %></h2>
    <p><%= t('views.users.registrations.confirm.description') %></p>
  </section>
<% end %>
