@import '../general/colors.scss';

.page-container {
  display: flex;
  flex: 1;
  height: 100vh;
  overflow: hidden;

  .page-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;

    .page-content {
      width: 100%;
      padding: 2rem;
    }
  }

  .sidebar-navigation {
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 100vh;
    background: $black;
    padding-top: 1.5rem;

    h2 {
      font-weight: 400;
      margin-bottom: 1rem;
      color: $white;
    }

    .sidebar-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: .9rem;
      color: $white;
      text-decoration: none;
      padding: .5rem;
      border-radius: .25rem;

      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .5rem;
      }

      &:hover {
        background: $whiteLight;
      }

      &.active {
        background: $whiteSemi;
      }
    }

    .sports, .fantasy-team, .profile {
      padding: 1rem;      
    }

    .locales {
      display: flex;
      align-items: end;
      flex: 1;
      padding: 0 .75rem 1rem;

      a {
        color: $white;
        margin-right: .5rem;
      }
    }
  }
}

.main-container {
  display: flex;
  flex-direction: row;

  .left-container {
    flex: 1;
    padding-right: 2rem;
  }

  .right-container {
    width: 27.5rem;
  }

  .half-container {
    width: 50%;

    &:nth-of-type(1) {
      padding-right: 1rem;
    }

    &:nth-of-type(2) {
      padding-left: 1rem;
    }
  }
}
