.basketball {
  .player-card {
    .player-team-name {
      background-image: image-url('icons/jerseys/basketball/default.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      &.BOS {
        background-image: image-url('icons/jerseys/basketball/celtics.svg');
      }

      &.LAL {
        background-image: image-url('icons/jerseys/basketball/lakers.svg');
      }
    }
  }
}

.football {
  .player-card {
    .player-team-name {
      background-image: image-url('icons/jerseys/basketball/default.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
