@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

html {
  font-family: "Source Sans Pro", "Helvetica", "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
