<h1><%= t('views.admin.players.index.new_player') %></h1>
<section>
  <%= form_with model: @player, url: admin_players_path(sport_kind: params[:sport_kind]), method: :post do |form| %>
    <%= render 'form', form: form %>
    <%= form.submit t('views.admin.players.new.create'), class: 'btn-primary' %>
  <% end %>
</section>
