<p class="my-4"><%= t('views.rules.index.transfers_basketball.unlimited') %></p>
<p class="my-4"><%= t('views.rules.index.transfers_basketball.free_per_week') %></p>
<p><%= t('views.rules.index.transfers_basketball.maximum') %></p>
