@import '../general/colors.scss';

header.page-navigation {
  background: $blue200;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    margin-right: 1rem;
  }
}

.page-content {
  flex: 1;
  width: 100%;
  max-width: 90rem;
  margin: 2rem auto;
}
