$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray500: #6b7280;
$gray800: #1f2937;

$blue200: #bfdbfe;

$green400: #34d399;
$green400semi: #34d39988;
$green600: #059669;

$red400: #f87171;
$red400semi: #f8717188;

$yellow400: #fbbf24;
$yellow400semi: #fbbf2488;

$white: #ffffff;
$black: #000000;
