<h1>Leagues</h1>
<% Sports.all.keys.each do |sport_kind| %>
  <h3><%= sport_kind.capitalize %></h3>
  <table class="leagues">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Maintenance mode</th>
      </tr>
    </thead>
    <tbody>
      <% @leagues.where(sport_kind: sport_kind).each do |league| %>
        <tr>
          <td><%= league.id %></td>
          <td><%= localized_value(league.name) %></td>
          <td><%= league.maintenance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
