<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <% if @lineup %>
    <div class="max-w-7xl mx-auto grid grid-cols-1 xl:grid-cols-10 gap-8">
      <%=
        react_component 'SquadPoints',
          component_class: 'xl:col-span-7',
          seasonUuid: @season.uuid,
          sportKind: @season.league.sport_kind,
          lineupUuid: @lineup.uuid,
          weekUuid: @lineup.week.uuid,
          weekPosition: @lineup.week.position,
          points: @lineup.points,
          averagePoints: @lineup.week.lineups.average(:points).round,
          maxPoints: @lineup.week.lineups.maximum(:points),
          previousPointsUrl: @lineup.week.position > 1 && @lineup.week.opponent_visible? ? fantasy_team_points_url(@fantasy_team.uuid, week: @lineup.week.position - 1) : nil,
          nextPointsUrl: @lineup.week.finished? ? fantasy_team_points_url(@fantasy_team.uuid, week: @lineup.week.position + 1) : nil
      %>
      <%= render Views::Shared::StatisticComponent.new(fantasy_team: @fantasy_team, week: @week) %>
    </div>
  <% else %>
    <h2><%= t('views.fantasy_teams.points.index.no_lineups') %></h2>
  <% end %>
<% end %>
