.button {
  display: inline-block;
  background: $scienceBlue;
  color: $white;
  border: none;
  border-radius: .25rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}
