@import '../../general/colors.scss';

.transfers-stats {
  margin: .5rem 0 0;

  .transfers-stat {
    flex: 1;
    padding: .5rem 2.5rem;
    border-right: 1px solid $gray200;
    border-left: none;

    &:nth-last-of-type(1) {
      border-right: none;
    }

    p {
      &:nth-of-type(1) {
        font-size: .9rem;
      }

      &:nth-of-type(2) {
        font-size: 1.5rem;
      }
    }
  }
}

.deadline {
  padding: .5rem;
  background: $sky200;

  span {
    &:nth-of-type(1) {
      color: $black;
    }

    &:nth-of-type(2) {
      padding-left: .5rem;
      color: $green400;
      font-size: 1.5rem;
    }
  }
}

.week {
  .week-header {
    margin: 1rem 0;

    .week-link-container {
      width: 12rem;

      button {
        width: 100%;
      }
    }
  }

  .week-day {
    margin-bottom: 1rem;

    .week-day-header {
      padding: .25rem 0;
      background: $gray200;
      text-align: center;
    }

    .game {
      padding: .5rem;
      border-bottom: 1px solid $gray200;

      &.expandable {
        cursor: pointer;
      }

      & > p {
        margin: 0 .5rem;
      }

      .team-name {
        font-size: 1.25rem;
        font-weight: 600;
        flex: 1;

        &.right-side {
          text-align: right;
        }
      }

      .game-start {
        padding: .5rem 1rem;
        border: 1px solid $gray200;
        font-weight: 300;
      }

      .game-points {
        padding: .4rem .75rem;
        background: $black;
        color: $white;
        font-size: 1.25rem;
      }
    }

    .fixtures {
      list-style: none;
      padding: 0;

      .fixture {
        margin: 0 auto 1rem;
        width: 75%;

        h5 {
          text-align: center;
          background: $green400;
          color: $white;
          margin-bottom: .25rem;
        }

        .fixture-values {
          display: flex;

          .fixture-value {
            flex: 1;
            padding: 0 .5rem;

            &:nth-of-type(1) {
              text-align: right;
              border-right: 1px solid $gray200;
            }

            p {
              padding: 0 0 .25rem;

              &:nth-of-type(n+2) {
                border-top: 1px solid $gray200;
              }
            }
          }
        }
      }
    }
  }
}

#fantasy-team-squad {
  #submit-button {
    margin: 2rem auto;
    text-align: center;
  }

  .chips {
    h3 {
      text-align: center;
    }

    .flex {
      button {
        &:nth-of-type(1) {
          margin-right: 1rem;
        }
      }
    }
  }
}

.substitutions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 2rem;
}

#team-players-by-positions {
  display: flex;
  flex-direction: column;

  .sport-position {
    display: flex;
    flex-direction: row;
  }

  &.football {
    position: relative;
    height: 45rem;
    background-image: image-url('football_field.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .sport-position {
      height: 25%;
      padding: 0 5rem;

      .player-card-box {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.Goalkeeper {
        padding: 0 15rem;
      }

      &.Forward {
        padding: 0 10rem;
      }
    }
  }

  &.basketball {
    position: relative;
    height: 50rem;
    background-image: image-url('basketball_field.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .sport-position {
      position: absolute;

      &.Center {
        top: 50%;
        left: 50%;
      }

      &.Power-Forward {
        top: 70%;
        left: 12%;
      }

      &.Small-Forward {
        top: 75%;
        left: 62%;
      }

      &.Point-Guard {
        top: 15%;
        left: 37%;
      }

      &.Shooting-Guard {
        top: 35%;
        left: 8%;
      }
    }
  }
}
