#fantasy-team-squad {
  display: flex;
  flex-direction: row;

  #submit-button {
    margin-top: 2rem;
  }

  #fantasy-team-members {
    flex: 1;
  }

  #fantasy-team-statistic {
    width: 25rem;
  }
}

#team-players-by-positions {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .sport-position {
    display: flex;
    flex-direction: row;

    &.substitution {
      margin-top: 2rem;
    }
  }

  &.football {
    .sport-position {
      margin-bottom: 2rem;

      .player-card-box {
        flex: 1;
        display: flex;
        justify-content: center;
      }

      &.Goalkeeper, &.Forward {
        padding: 0 10rem;
      }
    }
  }

  &.basketball {
    position: relative;
    height: 50rem;

    background-image: image-url('basketball_field.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .sport-position {
      position: absolute;

      &.Center {
        top: 60%;
        left: 50%;
      }

      &.Power-Forward {
        top: 70%;
        left: 10%;
      }

      &.Small-Forward {
        top: 80%;
        left: 60%;
      }

      &.Point-Guard {
        top: 20%;
        left: 35%;
      }

      &.Shooting-Guard {
        top: 40%;
        left: 5%;
      }
    }
  }
}
