<%= render PageWrappers::PageComponent.new do %>
  <%= render Views::Shared::SportNavigationComponent.new %>
  <div class="page-wrapper">
    <%= render Views::Shared::ProfileNavigationComponent.new %>
    <div class="page-content">
      <%= react_component 'Achievements' %>
    <div>
  </div>
<% end %>
