@import '../../general/colors.scss';

#fantasy-team-cups {
  .cups-pair {
    margin-bottom: .5rem;
    padding: .5rem 0;
    border-bottom: 1px solid $gray200;
    align-items: end;

    .user-team {
      flex: 4;
      text-align: right;
      padding-bottom: .5rem;
    }

    .scores-box {
      flex: 2;

      .scores {
        margin-top: .25rem;

        span {
          padding: .25rem .5rem;
          font-size: 1.25rem;
          font-weight: 600;
          background: $green400;
          color: $white;
          border-radius: .25rem;

          &:nth-of-type(1) {
            margin-right: .25rem;
          }
        }
      }
    }

    .opponent-team {
      flex: 4;
      padding-bottom: .5rem;
    }
  }
}
