<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <% if @lineup %>
    <div class="main-container">
      <%=
        react_component 'SquadPoints',
          component_id:    'fantasy-team-points',
          component_class: 'left-container',
          seasonId:        @season.id,
          sportKind:       @season.league.sport_kind,
          lineupId:        @lineup.id,
          weekId:          @season.coming_week.id,
          points:          @lineup.points
      %>
      <div id="fantasy-team-statistic" class="right-container">
        <%= render 'shared/fantasy_team_statistic' %>
      </div>
    </div>
  <% else %>
    <h2><%= t('views.fantasy_teams.points.index.no_lineups') %></h2>
  <% end %>
<% end %>
