<%= render PageWrappers::GuestComponent.new do %>
  <section class="grid grid-cols-1 xl:grid-cols-2 gap-8 mx-auto mt-16 mb-8 xl:my-24">
    <div class="flex-1 flex flex-col justify-center">
      <h1 class="text-center lg:text-left">Fantasy Sports</h1>
      <p class="text-lg leading-8 mb-4 text-center lg:text-left">Fantasy game management system. Free to play fantasy games, set up your fantasy team in different sport. In active development.</p>
    </div>
    <div class="flex-1">
    </div>
  </section>
<% end %>
