.flash-block {
  position: absolute;
  top: 2rem;
  right: 2rem;

  .flash {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    border-radius: .125rem;

    &.notice {
      background: $green400;
    }

    &.alert {
      background: $red400;
    }

    p {
      margin: 0 0 .5rem;

      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
  }
}
