<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <div class="page-wrapper">
    <div class="page-content">
      <% if @lineup %>
        <h1><%= t('views.fantasy_teams.statuses.show.title', week: @lineup.week.position) %></h1>
        <%= react_component 'TransfersStatus', weekUuid: @lineup.week.uuid %>
      <% else %>
        <h2><%= t('views.fantasy_teams.points.index.no_lineups') %></h2>
      <% end %>
    </div>
  </div>
<% end %>
