<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <div class="max-w-7xl mx-auto grid grid-cols-1 xl:grid-cols-10 gap-8">
    <%=
      react_component 'Squad',
        component_class: 'xl:col-span-7',
        seasonUuid:      @season.uuid,
        sportKind:       @season.league.sport_kind,
        lineupUuid:      @lineup.uuid,
        activeChips:     @lineup.active_chips,
        weekUuid:        @lineup.week.uuid,
        weekPosition:    @lineup.week.position,
        weekDeadlineAt:  @lineup.week.deadline_at
    %>
    <%= render Views::Shared::StatisticComponent.new(fantasy_team: @fantasy_team) %>
  </div>
<% end %>
