<%= render PageWrappers::PageComponent.new do %>
  <% @sports.each do |sport| %>
    <div class='sport'>
      <h2><%= sport.name['ru'] %></h2>
      <div class='sport-leagues'>
        <% sport.leagues.each do |league| %>
          <div class='league'>
            <h3><%= league.name['ru'] %></h3>
            <%= render Views::Homes::Show::FantasyTeamLinkComponent.new(league: league, user: Current.user) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
