<%= render PageWrappers::PageComponent.new do %>
  <% @sports.each do |sport| %>
    <div class='sport'>
      <h2><%= localized_value(sport.name) %></h2>
      <div class='sport-leagues'>
        <% sport.leagues.each do |league| %>
          <div class='league'>
            <h3><%= localized_value(league.name) %></h3>
            <%= render Views::Homes::Show::FantasyTeamLinkComponent.new(season: league.active_season, user: Current.user) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
