<%= render PageWrappers::PageComponent.new(fantasy_team: @fantasy_team) do %>
  <div id="fantasy-team-squad" class="main-container">
    <%=
      react_component 'Squad',
        component_id:    'fantasy-team-members',
        component_class: 'left-container',
        seasonId:        @season.id,
        sportKind:       @season.league.sport_kind,
        lineupId:        @lineup.id,
        weekId:          @lineup.week_id,
        weekPosition:    @lineup.week.position,
        weekDeadlineAt:  @lineup.week.deadline_at.strftime('%d.%m.%Y %H:%M')
    %>
    <%= render Views::Shared::StatisticComponent.new(fantasy_team: @fantasy_team, season: @season) %>
  </div>
<% end %>
