@import '../general/colors.scss';

.player-stats {
  margin-bottom: 2rem;

  .player-stat {
    width: 25%;
    padding: .75rem 0;
    border-right: 1px solid $gray200;

    &:nth-last-of-type(1) {
      border-right: none;
    }

    p {
      &:nth-of-type(1) {
        font-size: .9rem;
      }

      &:nth-of-type(2) {
        margin-top: .25rem;
        font-size: 1rem;
      }
    }
  }
}
