@import '../general/colors.scss';

.player-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 8rem;
  overflow: hidden;
  border-radius: .125rem;
  margin-right: .5rem;
  padding: .5rem 0;
  border-radius: .125rem;

  .action, .info, .captain {
    background: $white;
    position: absolute;
    top: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border: 1px solid $gray300;
    border-radius: .125rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &:hover {
      background: $gray300;
    }
  }

  .info {
    right: 0;
  }

  .captain {
    right: 0;
    top: 2.25rem;
  }

  .player-team-name {
    height: 5rem;
    margin-bottom: .5rem;
  }

  .player-name {
    text-align: center;
    background: $green600;
    color: $white;
    padding: .125rem 0;
    line-height: 1.25rem;
    min-height: 1.5rem;

    &.empty {
      height: 1.5rem;
      background: $gray300;
    }
  }

  .player-value {
    text-align: center;
    background: $green400;
    line-height: 1.25rem;
    min-height: 1.5rem;

    &.empty {
      height: 1.25rem;
      background: $gray200;
    }
  }

  &.for-change {
    background: $red400semi;
  }

  &.to-change {
    background: $green400semi;
  }
}
