@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic');

@layer components {
  h1 {
    @apply text-4xl leading-10 mb-4;
  }

  h2 {
    @apply text-3xl leading-8 mb-4;
  }

  h3 {
    @apply text-2xl leading-6 mb-4;
  }

  h4 {
    @apply text-xl leading-4 mb-4;
  }

  p {
    @apply leading-6;
  }

  .btn {
    @apply inline-block py-1 px-6 rounded leading-7 cursor-pointer;
  }

  .btn-primary {
    @apply btn bg-green-400 hover:bg-green-500 text-black;
  }

  .btn-danger {
    @apply btn bg-red-600 hover:bg-red-700;
  }

  .btn-info {
    @apply btn bg-white hover:bg-gray-100 border border-gray-200 text-black;
  }

  .btn-small {
    @apply py-1 px-2 text-sm leading-6;
  }

  .user-navigation-link {
    @apply flex flex-row items-center p-2 pl-2 lg:pl-8 text-black;
  }

  .user-navigation-link img {
    @apply w-8 h-8 mr-2;
  }

  .user-navigation-link:hover {
    @apply bg-neutral-300 rounded;
  }

  .user-navigation-link.active {
    @apply bg-white rounded shadow;
  }

  .form-field {
    @apply mb-4;
  }

  .form-field .form-label {
    @apply block mb-1 leading-6;
  }

  .form-field .form-value {
    @apply bg-gray-200 border border-gray-300 rounded-sm py-1 px-4 leading-8;

    min-height: 42px;
  }

  .form-field .form-value[type="checkbox"] {
    @apply p-0;

    min-height: auto;
  }

  .form-field .form-value:focus {
    @apply border-gray-400;
  }

  .form-field .form-value.full {
    @apply w-full;
  }

  .form-field select {
    @apply bg-gray-200 border border-gray-300 rounded-sm py-1 px-4 text-sm leading-8;

    min-width: 60px;
    min-height: 42px;
  }

  .form-dropdown {
    @apply block absolute z-10 left-0 w-full border border-gray-200 rounded-sm max-h-72 overflow-x-scroll;

    top: 42px;
  }

  .sport-position {
    @apply flex flex-row justify-center;
  }

  .football-field .field {
    height: calc(100vw - 2rem);
    max-height: 886px;
    background-image: url('football_field.webp');
  }

  .football-field .field .sport-position {
    @apply h-1/4 flex flex-row items-center;
  }

  .football-field .field .sport-position .player-card,
  .changes .player-card {
    scale: .7;
  }

  .football-field .player-jersey { background-image: url('icons/jerseys/football/default.svg') }
  .basketball-field .player-jersey { background-image: url('icons/jerseys/basketball/default.svg') }

  .basketball-field .field {
    height: calc(100vw - 2rem);
    max-height: 886px;
    background-image: url('basketball_field.webp');
  }

  .basketball-field .sport-position {
    @apply absolute;

    scale: .6;
  }

  @media screen and (min-width: 500px) and (max-width: 639px) {
    .basketball-field .field, .football-field .field { height: calc(100vw - 2rem) }
    .basketball-field .sport-position { scale: .8 }
    .football-field .field .sport-position .player-card, .changes .player-card { scale: 0.8 }
  }

  @media screen and (min-width: 640px) and (max-width: 767px) {
    .basketball-field .field, .football-field .field { height: calc(100vw - 4rem) }
    .basketball-field .sport-position { scale: .9 }
    .football-field .field .sport-position .player-card, .changes .player-card { scale: 0.9 }
  }

  @media screen and (min-width: 768px) and (max-width: 839px) {
    .basketball-field .field, .football-field .field { height: calc(100vw - 4rem) }
    .basketball-field .sport-position { scale: .9 }
    .football-field .field .sport-position .player-card, .changes .player-card { scale: 1 }
  }

  @media screen and (min-width: 840px) and (max-width: 1023px) {
    .basketball-field .field, .football-field .field { height: calc(100vw - 4rem) }
    .basketball-field .sport-position { scale: 1 }
    .football-field .field .sport-position .player-card, .changes .player-card { scale: 1 }
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .basketball-field .field, .football-field .field { height: calc(100vw - 22rem) }
    .basketball-field .sport-position { scale: 1 }
    .football-field .field .sport-position .player-card, .changes .player-card { scale: 1 }
  }

  @media screen and (min-width: 1280px) {
    .basketball-field .field, .football-field .field { height: calc((100vw - 23rem) * 0.70) }
    .basketball-field .sport-position { scale: 1 }
    .football-field .field .sport-position .player-card, .changes .player-card { scale: 1 }
  }

  .basketball-field .sport-position.Center {
    top: 42%;
    left: 50%;
    margin-left: -52px;
  }

  .basketball-field .sport-position.Power-Forward {
    top: 68%;
    left: 50%;
    margin-left: -222px;
  }

  .basketball-field .sport-position.Small-Forward {
    top: 68%;
    left: 50%;
    margin-left: -42px;
  }

  .basketball-field .sport-position.Point-Guard {
    top: 6%;
    left: 50%;
    margin-left: -132px;
  }

  .basketball-field .sport-position.Shooting-Guard {
    top: 34%;
    left: 50%;
    margin-left: -222px;
  }

  @media (min-width: 500px) {
    .basketball-field .sport-position.Center { top: 46%; margin-left: -24px }
    .basketball-field .sport-position.Power-Forward { top: 70%; margin-left: -272px }
    .basketball-field .sport-position.Small-Forward { top: 75%; margin-left: 0 }
    .basketball-field .sport-position.Point-Guard { top: 10% }
    .basketball-field .sport-position.Shooting-Guard { top: 34%; margin-left: -252px }
  }

  @media (min-width: 640px) {
    .basketball-field .sport-position.Center { top: 48% }
    .basketball-field .sport-position.Power-Forward { top: 74%; margin-left: -312px }
    .basketball-field .sport-position.Small-Forward { top: 76%; margin-left: 32px }
    .basketball-field .sport-position.Point-Guard { top: 11% }
    .basketball-field .sport-position.Shooting-Guard { top: 36%; margin-left: -282px }
  }

  @media (min-width: 768px) {
    .basketball-field .sport-position.Center { top: 50% }
    .basketball-field .sport-position.Point-Guard { top: 14% }
  }

  @media (min-width: 840px) {
    .basketball-field .sport-position.Center { top: 52% }
    .basketball-field .sport-position.Power-Forward { margin-left: -362px }
    .basketball-field .sport-position.Small-Forward { margin-left: 72px }
    .basketball-field .sport-position.Point-Guard { top: 16% }
    .basketball-field .sport-position.Shooting-Guard { top: 40%; margin-left: -312px }
  }

  @media (min-width: 1024px) {
    .basketball-field .sport-position.Center { top: 50% }
    .basketball-field .sport-position.Power-Forward { margin-left: -332px }
    .basketball-field .sport-position.Point-Guard { top: 14% }
  }

  @media (min-width: 1280px) {
    .basketball-field .sport-position.Center { top: 50%; margin-left: 0 }
    .basketball-field .sport-position.Power-Forward { margin-left: -362px }
    .basketball-field .sport-position.Small-Forward { margin-left: 92px }
    .basketball-field .sport-position.Point-Guard { top: 16% }
    .basketball-field .sport-position.Shooting-Guard { margin-left: -332px }
  }

  .football-field .sport-position.Goalkeeper .player-jersey,
  .football-field .changes .player-card:nth-of-type(1) .player-jersey { background-image: url('icons/jerseys/football/goalkeeper.svg') }
  .player-jersey.TOT { background-image: url('icons/jerseys/football/epl/tottenham.svg') }
  .player-jersey.ARS { background-image: url('icons/jerseys/football/epl/arsenal.svg') }
  .player-jersey.MCI { background-image: url('icons/jerseys/football/epl/manchester_city.svg') }
  .player-jersey.LIV { background-image: url('icons/jerseys/football/epl/liverpool.svg') }
  .player-jersey.AVL { background-image: url('icons/jerseys/football/epl/aston_villa.svg') }
  .player-jersey.NEW { background-image: url('icons/jerseys/football/epl/newcastle.svg') }
  .player-jersey.BHA { background-image: url('icons/jerseys/football/epl/brighton.svg') }
  .player-jersey.MAN { background-image: url('icons/jerseys/football/epl/manchester.svg') }
  .player-jersey.WHU { background-image: url('icons/jerseys/football/epl/west_ham.svg') }
  .player-jersey.BRE { background-image: url('icons/jerseys/football/epl/brentford.svg') }
  .player-jersey.CHE { background-image: url('icons/jerseys/football/epl/chelsea.svg') }
  .player-jersey.WOL { background-image: url('icons/jerseys/football/epl/wolvs.svg') }
  .player-jersey.CRY { background-image: url('icons/jerseys/football/epl/crystal_palace.svg') }
  .player-jersey.FUL { background-image: url('icons/jerseys/football/epl/fulham.svg') }
  .player-jersey.EVE { background-image: url('icons/jerseys/football/epl/everton.svg') }
  .player-jersey.NOT { background-image: url('icons/jerseys/football/epl/nottingham.svg') }
  .player-jersey.BOR { background-image: url('icons/jerseys/football/epl/bournemouth.svg') }
  .player-jersey.LUT { background-image: url('icons/jerseys/football/epl/luton.svg') }
  .player-jersey.BUR { background-image: url('icons/jerseys/football/epl/burnley.svg') }
  .player-jersey.SHE { background-image: url('icons/jerseys/football/epl/sheffield.svg') }

  .football-field .sport-position.Goalkeeper .player-jersey span,
  .football-field .changes .player-card:nth-of-type(1) .player-jersey span { color: #fff }
  .player-jersey.TOT span { color: #000 }
  .player-jersey.ARS span { color: #fff }
  .player-jersey.MCI span { color: #fff }
  .player-jersey.LIV span { color: #fff }
  .player-jersey.AVL span { color: #fff }
  .player-jersey.NEW span { color: #dc0714 }
  .player-jersey.BHA span { color: #dc0714 }
  .player-jersey.MAN span { color: #fff }
  .player-jersey.WHU span { color: #fff }
  .player-jersey.BRE span { color: #000 }
  .player-jersey.CHE span { color: #fff }
  .player-jersey.WOL span { color: #000 }
  .player-jersey.CRY span { color: #fff }
  .player-jersey.FUL span { color: #000 }
  .player-jersey.EVE span { color: #fff }
  .player-jersey.NOT span { color: #fff }
  .player-jersey.BOR span { color: #fff }
  .player-jersey.LUT span { color: #fff }
  .player-jersey.BUR span { color: #fff }
  .player-jersey.SHE span { color: #000 }

  .basketball-field .player-jersey.BOS { background-image: url('icons/jerseys/basketball/nba/boston.svg') }
  .basketball-field .player-jersey.LAL { background-image: url('icons/jerseys/basketball/nba/lal.svg') }
  .basketball-field .player-jersey.BKN { background-image: url('icons/jerseys/basketball/nba/brooklyn.svg') }
  .basketball-field .player-jersey.NYK { background-image: url('icons/jerseys/basketball/nba/knicks.svg') }
  .basketball-field .player-jersey.TOR { background-image: url('icons/jerseys/basketball/nba/toronto.svg') }
  .basketball-field .player-jersey.PHI { background-image: url('icons/jerseys/basketball/nba/philadelphia.svg') }
  .basketball-field .player-jersey.DET { background-image: url('icons/jerseys/basketball/nba/detroit.svg') }
  .basketball-field .player-jersey.IND { background-image: url('icons/jerseys/basketball/nba/indiana.svg') }
  .basketball-field .player-jersey.CLE { background-image: url('icons/jerseys/basketball/nba/cleveland.svg') }
  .basketball-field .player-jersey.MIL { background-image: url('icons/jerseys/basketball/nba/milwaukee.svg') }
  .basketball-field .player-jersey.CHI { background-image: url('icons/jerseys/basketball/nba/chicago.svg') }
  .basketball-field .player-jersey.ATL { background-image: url('icons/jerseys/basketball/nba/atlanta.svg') }
  .basketball-field .player-jersey.WAS { background-image: url('icons/jerseys/basketball/nba/washington.svg') }
  .basketball-field .player-jersey.MIA { background-image: url('icons/jerseys/basketball/nba/miami.svg') }
  .basketball-field .player-jersey.ORL { background-image: url('icons/jerseys/basketball/nba/orlando.svg') }
  .basketball-field .player-jersey.CHA { background-image: url('icons/jerseys/basketball/nba/charlotte.svg') }
  .basketball-field .player-jersey.DEN { background-image: url('icons/jerseys/basketball/nba/denver.svg') }
  .basketball-field .player-jersey.MIN { background-image: url('icons/jerseys/basketball/nba/minnesota.svg') }
  .basketball-field .player-jersey.OKC { background-image: url('icons/jerseys/basketball/nba/oklahoma.svg') }
  .basketball-field .player-jersey.POR { background-image: url('icons/jerseys/basketball/nba/portland.svg') }
  .basketball-field .player-jersey.UTA { background-image: url('icons/jerseys/basketball/nba/utah.svg') }
  .basketball-field .player-jersey.GSW { background-image: url('icons/jerseys/basketball/nba/golden_state.svg') }
  .basketball-field .player-jersey.LAC { background-image: url('icons/jerseys/basketball/nba/lac.svg') }
  .basketball-field .player-jersey.SAC { background-image: url('icons/jerseys/basketball/nba/sacramento.svg') }
  .basketball-field .player-jersey.PHX { background-image: url('icons/jerseys/basketball/nba/phoenix.svg') }
  .basketball-field .player-jersey.DAL { background-image: url('icons/jerseys/basketball/nba/dallas.svg') }
  .basketball-field .player-jersey.MEM { background-image: url('icons/jerseys/basketball/nba/memphis.svg') }
  .basketball-field .player-jersey.NOP { background-image: url('icons/jerseys/basketball/nba/pelicans.svg') }
  .basketball-field .player-jersey.SAS { background-image: url('icons/jerseys/basketball/nba/spurs.svg') }
  .basketball-field .player-jersey.HOU { background-image: url('icons/jerseys/basketball/nba/houston.svg') }

  .basketball-field .player-jersey.BOS span { color: #fff; }
  .basketball-field .player-jersey.LAL span { color: #552583; }
  .basketball-field .player-jersey.BKN span { color: #fff; }
  .basketball-field .player-jersey.NYK span { color: #F58426; }
  .basketball-field .player-jersey.TOR span { color: #fff; }
  .basketball-field .player-jersey.PHI span { color: #fff; }
  .basketball-field .player-jersey.DET span { color: #C8102E; }
  .basketball-field .player-jersey.IND span { color: #FDBB30; }
  .basketball-field .player-jersey.CLE span { color: #000; }
  .basketball-field .player-jersey.MIL span { color: #EEE1C6; }
  .basketball-field .player-jersey.CHI span { color: #fff; }
  .basketball-field .player-jersey.ATL span { color: #FDB927; }
  .basketball-field .player-jersey.WAS span { color: #fff; }
  .basketball-field .player-jersey.MIA span { color: #98002E; }
  .basketball-field .player-jersey.ORL span { color: #fff; }
  .basketball-field .player-jersey.CHA span { color: #fff; }
  .basketball-field .player-jersey.DEN span { color: #fff; }
  .basketball-field .player-jersey.MIN span { color: #fff; }
  .basketball-field .player-jersey.OKC span { color: #fdbb30; }
  .basketball-field .player-jersey.POR span { color: #fff; }
  .basketball-field .player-jersey.UTA span { color: #F9A01B; }
  .basketball-field .player-jersey.GSW span { color: #FDB927; }
  .basketball-field .player-jersey.LAC span { color: #fff; }
  .basketball-field .player-jersey.SAC span { color: #fff; }
  .basketball-field .player-jersey.PHX span { color: #fff; }
  .basketball-field .player-jersey.DAL span { color: #fff; }
  .basketball-field .player-jersey.MEM span { color: #fff; }
  .basketball-field .player-jersey.NOP span { color: #fff; }
  .basketball-field .player-jersey.SAS span { color: #fff; }
  .basketball-field .player-jersey.HOU span { color: #000; }

  .player-card-action {
    @apply absolute top-0 w-6 h-6 cursor-pointer bg-white hover:bg-gray-200 border border-gray-300 rounded flex flex-row justify-center items-center;
  }

  .player-card-action.info {
    @apply right-0;
  }

  .player-card-action.captain {
    @apply right-0 top-9;
  }

  .tooltip {
    @apply relative;
  }

  .tooltip .tooltiptext {
    @apply w-24 invisible bg-zinc-800 text-white text-xs text-center py-1 px-0 rounded whitespace-nowrap;
    @apply absolute z-10 opacity-0 transition-opacity delay-300;

    bottom: 125%;
    left: 50%;
    margin-left: -3rem;
  }

  .tooltip .tooltiptext:after {
    @apply absolute;

    content: "";
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    @apply opacity-100 visible;
  }

  .table {
    @apply bg-white w-full;
  }

  .table thead tr {
    @apply bg-gray-200;
  }

  .table thead tr th {
    @apply py-1 px-2 text-left;
  }

  .table tbody tr td {
    @apply p-2 border-b border-gray-200;
  }

  .season-link {
    @apply relative h-40;
  }

  .season-link img {
    @apply w-full h-40 object-cover;
  }

  .season-link-content {
    @apply absolute top-0 left-0 w-full h-full p-4 flex flex-col justify-end items-end bg-black/50 text-white;
  }

  .season-link-content h2 {
    @apply mb-4;
  }

  .badge {
    @apply px-2 py-1 rounded shadow;
  }

  .badge-light {
    @apply badge bg-white border-black text-sm text-black;
  }
}
