@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic');

@layer components {
  h1 {
    @apply text-4xl leading-10 mb-4;
  }

  h2 {
    @apply text-3xl leading-8 mb-4;
  }

  h3 {
    @apply text-2xl leading-6 mb-4;
  }

  h4 {
    @apply text-xl leading-4 mb-4;
  }

  p {
    @apply leading-6;
  }

  .btn {
    @apply inline-block py-1 px-6 rounded leading-8 cursor-pointer;
  }

  .btn-primary {
    @apply btn bg-blue-500 hover:bg-blue-600 text-white;
  }

  .btn-danger {
    @apply btn bg-red-500 hover:bg-red-600;
  }

  .btn-info {
    @apply btn bg-white hover:bg-gray-100 border border-gray-200 text-black;
  }

  .btn-small {
    @apply py-1 px-2 text-sm leading-8;
  }

  .user-navigation-link {
    @apply flex flex-row items-center p-2 pl-8 text-white;
  }

  .user-navigation-link img {
    @apply w-8 h-8 mr-2;
  }

  .user-navigation-link.active {
    @apply bg-zinc-600;
  }

  .form-field {
    @apply mb-4;
  }

  .form-field .form-label {
    @apply block mb-1 leading-6;
  }

  .form-field .form-value {
    @apply bg-sky-200 border border-sky-300 rounded-sm py-1 px-4 leading-8;

    min-height: 42px;
  }

  .form-field .form-value:focus {
    @apply border-sky-400;
  }

  .form-field .form-value.full {
    @apply w-full;
  }

  .form-field select {
    @apply bg-sky-200 border border-sky-300 rounded-sm py-1 px-4 text-sm;

    min-width: 60px;
  }

  .form-dropdown {
    @apply block absolute z-10 left-0 w-full border border-gray-200 rounded-sm;

    top: 42px;
  }

  .football-field {
    height: 45rem;
    background-image: url('football_field.jpg');
  }

  .football-field .sport-position {
    @apply h-1/4;

    padding: 0 5rem;
  }

  .football-field .sport-position .player-card-box {
    @apply flex justify-center items-center flex-1;
  }

  .football-field .sport-position .player-card-box.Goalkeeper {
    padding: 0 15rem;
  }

  .football-field .sport-position .player-card-box.Forward {
    padding: 0 10rem;
  }

  .football-field .player-jersey { background-image: url('icons/jerseys/basketball/default.svg') }

  .basketball-field {
    height: 50rem;
    background-image: url('basketball_field.jpg');
  }

  .basketball-field .sport-position {
    @apply absolute;
  }

  .basketball-field .sport-position.Center {
    top: 50%;
    left: 50%;
  }

  .basketball-field .sport-position.Power-Forward {
    top: 70%;
    left: 12%;
  }

  .basketball-field .sport-position.Small-Forward {
    top: 75%;
    left: 62%;
  }

  .basketball-field .sport-position.Point-Guard {
    top: 15%;
    left: 37%;
  }

  .basketball-field .sport-position.Shooting-Guard {
    top: 35%;
    left: 8%;
  }

  .basketball-field .player-jersey.BOS { background-image: url('icons/jerseys/basketball/boston.svg') }
  .basketball-field .player-jersey.LAL { background-image: url('icons/jerseys/basketball/lal.svg') }
  .basketball-field .player-jersey.BKN { background-image: url('icons/jerseys/basketball/brooklyn.svg') }
  .basketball-field .player-jersey.NYK { background-image: url('icons/jerseys/basketball/knicks.svg') }
  .basketball-field .player-jersey.TOR { background-image: url('icons/jerseys/basketball/toronto.svg') }
  .basketball-field .player-jersey.PHI { background-image: url('icons/jerseys/basketball/philadelphia.svg') }
  .basketball-field .player-jersey.DET { background-image: url('icons/jerseys/basketball/detroit.svg') }
  .basketball-field .player-jersey.IND { background-image: url('icons/jerseys/basketball/indiana.svg') }
  .basketball-field .player-jersey.CLE { background-image: url('icons/jerseys/basketball/cleveland.svg') }
  .basketball-field .player-jersey.MIL { background-image: url('icons/jerseys/basketball/milwaukee.svg') }
  .basketball-field .player-jersey.CHI { background-image: url('icons/jerseys/basketball/chicago.svg') }
  .basketball-field .player-jersey.ATL { background-image: url('icons/jerseys/basketball/atlanta.svg') }
  .basketball-field .player-jersey.WAS { background-image: url('icons/jerseys/basketball/washington.svg') }
  .basketball-field .player-jersey.MIA { background-image: url('icons/jerseys/basketball/miami.svg') }
  .basketball-field .player-jersey.ORL { background-image: url('icons/jerseys/basketball/orlando.svg') }
  .basketball-field .player-jersey.CHA { background-image: url('icons/jerseys/basketball/charlotte.svg') }
  .basketball-field .player-jersey.DEN { background-image: url('icons/jerseys/basketball/denver.svg') }
  .basketball-field .player-jersey.MIN { background-image: url('icons/jerseys/basketball/minnesota.svg') }
  .basketball-field .player-jersey.OKC { background-image: url('icons/jerseys/basketball/oklahoma.svg') }
  .basketball-field .player-jersey.POR { background-image: url('icons/jerseys/basketball/portland.svg') }
  .basketball-field .player-jersey.UTA { background-image: url('icons/jerseys/basketball/utah.svg') }
  .basketball-field .player-jersey.GSW { background-image: url('icons/jerseys/basketball/golden_state.svg') }
  .basketball-field .player-jersey.LAC { background-image: url('icons/jerseys/basketball/lac.svg') }
  .basketball-field .player-jersey.SAC { background-image: url('icons/jerseys/basketball/sacramento.svg') }
  .basketball-field .player-jersey.PHX { background-image: url('icons/jerseys/basketball/phoenix.svg') }
  .basketball-field .player-jersey.DAL { background-image: url('icons/jerseys/basketball/dallas.svg') }
  .basketball-field .player-jersey.MEM { background-image: url('icons/jerseys/basketball/memphis.svg') }
  .basketball-field .player-jersey.NOP { background-image: url('icons/jerseys/basketball/pelicans.svg') }
  .basketball-field .player-jersey.SAS { background-image: url('icons/jerseys/basketball/spurs.svg') }
  .basketball-field .player-jersey.HOU { background-image: url('icons/jerseys/basketball/houston.svg') }

  .player-card-action {
    @apply absolute top-2 w-6 h-6 cursor-pointer bg-white hover:bg-gray-200 border border-gray-300 rounded flex flex-row justify-center items-center;
  }

  .player-card-action.info {
    @apply right-0;
  }

  .player-card-action.captain {
    @apply right-0 top-9;
  }
}
