<div class="flex flex-row mb-1">
  <span class="py-1 px-2 bg-green-400 text-white rounded mr-1"><%= pair_result[0] %></span>
  <span class="py-1 px-2 bg-green-400 text-white rounded"><%= pair_result[1] %></span>
</div>
