.users-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .users-content {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .user-form {
      width: 30rem;

      h2 {
        text-align: center;
        margin-top: 0;
      }
    }
  }
}
