@import '../../general/colors.scss';

.home-sports {
  display: flex;
  flex-direction: row;

  .league {
    position: relative;
    width: calc((100% - 4rem) / 4);
    margin: 0 2rem 2rem 0;
    padding: 1rem;
    border: 1px solid $gray200;
    border-radius: .25rem;

    &:nth-of-type(4n) {
      margin-right: 0;
    }

    img {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
