@import '../../general/colors.scss';

.admin-table {
  width: 100%;
  margin-bottom: 2rem;

  thead {
    tr {
      background: $gray200;

      th {
        padding: .25rem .5rem;
        text-align: left;
        font-size: .9rem;

        &:nth-of-type(1) {
          width: 5rem;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background: $gray200;
      }

      td {
        padding: .5rem;
      }
    }
  }
}

#games-players-stats {
  .team-players-stats {
    margin-bottom: 2rem;
  }
}
