<% if Current.user %>
  <%= render PageWrappers::PageComponent.new do %>
    <div class="page-wrapper">
      <div class="page-content">
        <%= render Shared::PageNotFoundComponent.new %>
      </div>
    </div>
  <% end %>
<% else %>
  <%= render PageWrappers::UsersComponent.new do %>
    <%= render Shared::PageNotFoundComponent.new %>
  <% end %>
<% end %>
