@import '../../general/colors.scss';

#fantasy-team-navigation {
  background: $gray100;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-weight: 400;
  }

  #fantasy-team-navigation-links {
    display: flex;

    a {
      padding: .5rem 1rem;
      text-decoration: none;
      color: $black;

      &:hover {
        background: $gray200;
      }

      &.active {
        background: $white;
      }
    }
  }
}
