@import '../../general/colors.scss';

#profile-dropdown {
  position: relative;

  .action {
    cursor: pointer;
  }

  .profile-dropdown-list {
    position: absolute;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    background: $white;
    min-width: 6rem;
    border: 1px solid $gray200;
    border-radius: .125rem;

    li {
      a {
        width: 100%;
        display: inline-block;
        margin: 0;
        padding: .5rem 1rem;
        text-decoration: none;

        &:hover {
          background: $gray100;
        }
      }
    }

    .separator {
      height: 1px;
      background: $gray200;
    }
  }
}
